@import "tailwindcss";

@plugin "daisyui" {
  theme: light, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* background */
  --color-primary: var(--color-gray-300);
  /* text */
  --color-secondary: var(--color-orange-200);
  /* link color */
  --color-warning: var(--color-orange-400);
  /* homepage h1 */
  --color-accent: var(--color-orange-950);
  /* button text */
  --color-neutral: var(--color-orange-950);
  /* active link */
  --color-info: var(--color-orange-950);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  /* background */
  --color-primary: var(--color-gray-950);
  /* text */
  --color-secondary: var(--color-orange-200);
  /* link color */
  --color-warning: var(--color-orange-400);
  /* homepage h1 */
  --color-accent: var(--color-orange-200);
  /* button text */
  --color-neutral: var(--color-orange-950);
  /* active link */
  --color-info: var(--color-orange-200);
}

.myBtn {
  @apply px-5 py-2 bg-gradient-to-r from-warning to-secondary text-neutral rounded-4xl font-bold shadow-xl hover:scale-110 active:scale-90 transition
}

.textField {
  @apply border border-warning absolute pl-10 text-3xl p-2 w-[31%] text-warning rounded
}