@import "tailwindcss";

@plugin "daisyui" {
  theme: light, dark;
}

/* *{
  border: 1px solid red;
} */

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* background */
  --color-primary: var(--color-gray-200);
  /* text */
  --color-secondary: var(--color-orange-200);
  /* link color */
  --color-warning: var(--color-orange-400);
  /* homepage h1 */
  --color-accent: var(--color-orange-950);
  /* button text */
  --color-neutral: var(--color-orange-950);
  /* active link */
  --color-info: var(--color-orange-950);
  --color-success: var(--color-blue-600);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  /* background */
  --color-primary: var(--color-gray-950);
  /* text */
  --color-secondary: var(--color-orange-200);
  /* link color */
  --color-warning: var(--color-orange-400);
  /* homepage h1 */
  --color-accent: var(--color-orange-200);
  /* button text */
  --color-neutral: var(--color-orange-950);
  /* active link */
  --color-info: var(--color-orange-200);
  /* admin dashboard links */
  --color-success: var(--color-blue-600);
}

.myBtn {
  @apply px-5 py-2 bg-gradient-to-r from-warning to-secondary text-neutral rounded-4xl font-bold shadow-xl hover:scale-110 active:scale-90 transition flex gap-1 items-center justify-center;
}

.textField {
  @apply border border-warning absolute pl-10 text-3xl p-2 w-[31%] text-warning rounded;
}

/* admin styles */
.adminCardLink {
  @apply h-full flex items-center justify-center rounded-lg shadow-lg shadow-warning hover:scale-110 transition active:scale-90;
}

.adminCardInsideDiv {
  @apply flex flex-col items-center justify-center gap-2;
}

.adminCardH1 {
  @apply text-4xl font-bold text-warning;
}

.adminCardP {
  @apply text-xl flex items-center gap-1 font-bold;
}

.adminCardSpan {
  @apply text-sm bg-success/20 text-success px-2 rounded-full;
}
